.container-tours{
    width: 80%;
    margin: 20px auto;
}
.container-tours .tours-title{
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-tours .tours-title h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.16rem;
    line-height: 1;
    margin-bottom: 1.2rem;

}
.container-tours .tours-title .underline{
    width: 9.6rem;
    height: 0.4rem;
    background-color: #49a6e9;
}
.container-tours .tours-list{
display: flex;
    flex-direction: column;
align-items: center;
    gap: 3.2rem;
}
.container-tours .no-tour-box{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
}
.container-tours .no-tour-box button{
    background-color: #49a6e9;
    color: white;
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    letter-spacing: 0.16rem;
}